* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  max-width: 1220px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px 0 15px;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, -webkit-border-radius 0.3s, -webkit-box-shadow 0.3s;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #4a3015;
  transition: all 0.5s ease;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.05em;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

hr {
  background: #ef7f1a;
  height: 3px;
  width: 300px;
  text-align: center;
  margin: 20px auto 50px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0 0 60px 0;
}

.button {
  display: inline-block;
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  color: #4a3015;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.05em;
}
.button:hover {
  background-color: #887660;
  transition: all 0.4s ease;
  color: #fff;
}

hr {
  background: #fca713;
  width: 10%;
  height: 1px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: #fff;
  border-bottom: 2px solid #e1ddda;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__body .hamburger-menu {
  display: none;
  width: 55px;
}
.header__menu {
  width: 100%;
}
.header__list {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}
.header__list li {
  padding: 10px 0;
}
.header .header__list .header__list_active {
  padding: 33px 1px;
}
.header .menu-item {
  color: #4a3015;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  padding: 0px 10px;
  letter-spacing: 0.05em;
}
.header .menu-item a {
  color: #4a3015;
}
.header__link:hover {
  color: #887660;
  text-decoration: underline;
  transition: all 1s ease;
}
.header__link_active {
  border: 2px solid #fff;
  padding: 3px 15px 4px 15px;
}
.header .header__logo img {
  width: 100px;
}
@media (max-width: 972px) {
  .header .hamburger-menu {
    display: block;
  }
  .header .header__menu {
    display: none;
  }
  .header .header__body {
    height: 60px;
  }
  .header #menu__toggle {
    opacity: 0;
  }
  .header #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .header .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .header .menu__btn > span,
.header .menu__btn > span::before,
.header .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4a3015;
  }
  .header .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .header .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .header .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    left: 20px;
    right: 20px;
    top: 62px;
    max-height: 150px;
    height: 100%;
    margin: 0 20px 0 20px;
    background-color: #f4f6f7;
  }
  .header .menu__item {
    display: block;
    padding: 15px 15px;
    border-bottom: 1px solid #e0e5e8;
    color: #3c3951;
  }
  .header .menu__item a {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
  }
}

.header__icon {
  display: flex;
  margin: 0 0 0 20px;
}
.header__icon a i {
  color: #4a3015;
  font-size: 16px;
}
.header__icon a i:hover {
  color: #887660;
  transition: all 0.2s ease;
}
.header__icon .fa-search {
  margin: 0 0 0 20px;
}

.menu__box li ul li:hover {
  background-color: white;
  border-left: 4px solid #887660;
  margin: 0 0 0 1px;
}

.footer {
  background-color: #e1ddda;
  color: #4a3015;
  padding: 50px 0 30px;
}
.footer .footer__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__block .footer__adress {
  width: 33%;
  display: flex;
  align-items: center;
}
.footer .footer__block .footer__adress i {
  font-size: 35px;
  margin: 0 20px 0 0;
}
.footer .footer__block .footer__adress .footer__text {
  text-align: center;
}
.footer .footer__block .footer__adress .footer__text p {
  line-height: 25px;
}
.footer .footer__block .footer__contact {
  width: 33%;
  text-align: center;
}
.footer .footer__block .footer__contact p {
  color: #4a3015;
  line-height: 25px;
  font-size: 18px;
  font-weight: 600;
}
.footer .footer__block .footer__contact .footer__link {
  margin: 5px 0 0 0;
  transition: all 0.5s ease;
}
.footer .footer__block .footer__contact .footer__link a {
  color: #4a3015;
  transition: all 0.5s ease;
}
.footer .footer__block .footer__contact .footer__link a:hover {
  color: #fff;
}
.footer .footer__block .footer__icon {
  width: 33%;
  text-align: right;
}
.footer .footer__block .footer__icon a i {
  font-size: 30px;
  margin: 0 0 0 40px;
  transition: all 0.2s ease;
  color: #4a3015;
}
.footer .footer__block .footer__icon a i:hover {
  color: #887660;
  cursor: pointer;
}

.hero {
  position: relative;
}

.hero__box {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.9);
  background-attachment: fixed;
  visibility: inherit;
  transform-origin: 50% 50%;
  padding: 350px 0 200px 0;
  color: #fff;
}
.hero__box .hero__block {
  display: flex;
  position: relative;
  z-index: 99;
}
.hero__box .hero__block .hero__text {
  width: 70%;
}
.hero__box .hero__block .hero__text h1 {
  font-size: 55px;
  line-height: 75px;
  margin: 0 0 40px 0;
}
.hero__box .hero__block .hero__text p {
  width: 80%;
  font-size: 16px;
  line-height: 25px;
  margin: 0 0 50px 0;
}
.hero__box .hero__block .hero__text button {
  background-color: #ef7f1a;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 10px;
  letter-spacing: 0.05em;
  font-size: 16px;
  transition: all 0.5s ease;
}
.hero__box .hero__block .hero__text button:hover {
  background-color: #fff;
  color: #ef7f1a;
}
.hero__box .hero__block .hero__social_block {
  display: flex;
  align-items: flex-end;
}
.hero__box .hero__block .hero__content {
  display: flex;
}
.hero__box .hero__block .hero__social {
  width: 30%;
  color: #fff;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  align-self: baseline;
  padding: 0 0 50px 0;
}
.hero__box .hero__block .hero__social .hero__icon {
  transform: rotate(180deg);
  position: relative;
  z-index: 100;
}
.hero__box .hero__block .hero__social .hero__icon a i {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 20px 0;
  cursor: pointer;
  transition: all 0.5s ease;
  color: #fff;
}
.hero__box .hero__block .hero__social .hero__icon a i:hover {
  color: #4a3015;
  transition: all 0.2s ease;
}
.hero__box .hero__block .hero__social .hero__line {
  background-color: #fff;
  width: 1px;
  height: 50px;
  align-self: center;
  margin: 20px 0;
}
.hero__box .hero__block .hero__social p {
  text-transform: uppercase;
  font-size: 16px;
}

.hero__bg {
  position: absolute;
  background: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 100%;
  transition: 0.3s;
  top: 0;
  z-index: 1;
}

.intro {
  padding: 100px 0 50px;
}
.intro .intro__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.intro .intro__block .intro__item {
  width: 45%;
  margin: 0 0 50px 0;
  background-image: url("./image/chokolate.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  visibility: inherit;
  transform-origin: 50% 50%;
  background-position: bottom;
  height: 100%;
  border-radius: 5px;
  text-align: center;
  padding: 50px 0 20px 0;
}
.intro .intro__block .intro__item .intro__button {
  margin: 220px 0 0 0;
}
.intro .intro__block .intro__item .intro__title a h2 {
  position: relative;
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  z-index: 100;
  margin: 50px;
}
.intro .intro__block .intro__item .intro__title .intro__arrow {
  position: relative;
  z-index: 100;
}
.intro .intro__block .intro__item .intro__title .intro__arrow a i {
  color: #fff;
}
.intro .intro__block .intro__item .intro__title .intro__arrow .intro__list {
  display: none;
  position: absolute;
}
.intro .intro__block .intro__item .intro__title .intro__arrow .intro__list li a {
  color: #fff;
}
.intro .intro__block .intro__item .intro__bg {
  position: absolute;
  background: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 100%;
  transition: 0.3s;
  top: 0;
  border-radius: 5px;
}
.intro .intro__block .intro__item:nth-child(2) {
  background-image: url("./image/pasti.jpg");
  background-position: center;
}
.intro .intro__block .intro__item:nth-child(3) {
  background-image: url("./image/tort.jpg");
  background-position: center;
}
.intro .intro__block .intro__item:nth-child(4) {
  background-image: url("./image/marmelad.jpg");
  background-position: center;
}

.special {
  background-color: #e1ddda;
  color: #4a3015;
  padding: 100px 0;
}
.special .special__block {
  display: flex;
  justify-content: space-between;
}
.special .special__block .special__item {
  width: 45%;
}
.special .special__block .special__item img {
  display: block;
  max-width: 250px;
  width: 100%;
  max-height: 250px;
  height: 100%;
  border-radius: 5px;
  margin: 0 0 20px 0;
}
.special .special__block .special__item .special__item_title {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-family: "Montserrat", sans-serif;
  color: #4a3015;
}
.special .special__block .special__item .special__item_title:hover {
  text-decoration: underline;
  transition: all 0.2s ease;
  color: #887660;
}
.special .special__block .special__item .special__text {
  line-height: 20px;
  margin: 40px 0 20px 0;
}
.special .special__block .special__item .special__price {
  margin: 0 0 20px 0;
}
.special .special__block .special__item .special__price p del {
  margin: 0 20px 0 0;
  font-size: 18px;
  font-weight: 400;
  text-decoration: line-through;
}
.special .special__block .special__item .special__price p ins {
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
}
.special .special__block .special__item .special__button {
  font-size: 12px;
  padding: 10px 15px;
  background-color: #887660;
  color: #fff;
}
.special .special__block .special__item .special__button:hover {
  color: #4a3015;
  background-color: #fff;
  transition: all 0.4s ease;
  cursor: pointer;
}
.special .special__block .special__item:nth-child(2) {
  margin: 0 20px;
}

.about {
  padding: 100px 0;
}
.about .about__block {
  display: flex;
}
.about .about__block .about__image {
  width: 35%;
}
.about .about__block .about__image img {
  max-width: 400px;
  width: 100%;
  max-height: 450px;
  height: 100%;
  border-radius: 5px;
}
.about .about__block .about__content {
  width: 60%;
  margin: 0 0 0 70px;
}
.about .about__block .about__content h2 {
  font-size: 20px;
  margin: 0 auto 40px;
}
.about .about__block .about__content p {
  margin: 0 0 20px 0;
  line-height: 20px;
}
.about .about__block .about__content span {
  display: inline-block;
  margin: 0 0 20px 0;
  font-size: 16px;
  font-weight: 600;
}
.about .about__block .about__content .about__list {
  margin: 0 0 0 20px;
}
.about .about__block .about__content .about__list li {
  line-height: 20px;
  list-style: disc;
}

.advantage {
  background-image: url("./image/bg-advantage.jpg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right;
  background-color: #f6f7fb;
  transform-origin: 50% 50%;
  padding: 250px 0 100px 0;
  position: relative;
  z-index: 1;
}
.advantage .advantage_box {
  position: relative;
  color: #fff;
  z-index: 99;
}
.advantage h1 {
  text-align: left;
  margin: 0 0 10px 0;
  display: inline-block;
}
.advantage .advantage_bg {
  background: rgba(0, 0, 0, 0.35);
}
.advantage .advantage__text {
  font-size: 20px;
  margin: 0 0 150px;
}
.advantage .advantage__iconblock {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.advantage .advantage__iconblock .advantage__item {
  width: 32%;
  display: flex;
}
.advantage .advantage__iconblock .advantage__item .advantage__icon {
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 18px;
  margin: 0 20px 0 0;
}
.advantage .advantage__iconblock .advantage__item .advantage__icon i {
  font-size: 20px;
}
.advantage .advantage__iconblock .advantage__item p {
  font-size: 17px;
  align-self: center;
}

.how .how__block {
  display: flex;
  width: 100%;
  height: 100%;
}
.how .how__left {
  flex: 2 0;
}
.how .how__left .left_top {
  background-image: url(./image/who-bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 15%;
  background-attachment: fixed;
  padding: 0 0 79px;
}
.how .how__left .left_top h2 {
  font-size: 40px;
  padding: 12% 0 4% 6.48%;
  text-transform: uppercase;
}
.how .how__left .left_top p {
  font-size: 17px;
  color: #808080;
  margin-left: 6.48%;
  letter-spacing: 1px;
  line-height: 35px;
  font-style: italic;
}
.how .how__left .left_low {
  background-image: url(./image/how-bg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.how .how__left .left_low .left_low_text {
  justify-content: flex-end;
  flex: 1 0;
  width: 50%;
  position: relative;
  text-align: center;
  background-color: #ffffff;
  opacity: 0.9;
  margin-left: auto;
  padding: 182px 0 180px;
  align-items: center;
}
.how .how__left .left_low .left_low_text h3 {
  margin: 0 auto 20px;
  text-transform: uppercase;
  font-size: 36px;
  z-index: 2;
  letter-spacing: 0.1em;
}
.how .how__left .left_low .left_low_text p {
  font-size: 18px;
  z-index: 2;
  display: block;
  width: 90%;
  top: 46%;
  padding: 0 20px;
  line-height: 32px;
}
.how .how__left .left_low .left_low_text hr {
  z-index: 2;
  display: block;
  width: 10%;
  height: 1px;
  top: 62%;
  left: 45%;
  background: #fca713;
}
.how .how__right {
  flex: 1 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  vertical-align: baseline;
  align-self: auto;
  flex-wrap: wrap;
}
.how .how__right .right_block {
  align-self: auto;
  position: relative;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  -webkit-box-ordinal-group: 1;
  order: 0;
  -webkit-box-flex: 1;
  -webkit-box-pack: start;
  -webkit-box-align: center;
}
.how .how__right .right_block:nth-child(1) {
  background-color: #fff;
}
.how .how__right .right_block:nth-child(2) {
  background-color: #887660;
  color: #ffffff;
}
.how .how__right .right_block:nth-child(2) .right_text {
  margin: 15% auto 80%;
}
.how .how__right .right_block:nth-child(3) {
  background-color: #4a3015;
  color: #ffffff;
}
.how .how__right .right_block h3 {
  top: 0;
  color: #ef7f1a;
  font-size: 36px;
  text-transform: uppercase;
  padding: 5% 0 5%;
  position: absolute;
  width: 100%;
  text-align: center;
  display: block;
  left: 0;
  transition: all 500ms cubic-bezier(0.365, 0.66, 0.35, 1.29);
}
.how .how__right .right_block .right_text {
  font-size: 16px;
  line-height: 25px;
  left: 20.5%;
  text-transform: uppercase;
  width: 55%;
  margin: 15% auto 50%;
  transition: all 500ms cubic-bezier(0.1, 0.905, 0, 1);
  z-index: 1;
}
.how .how__right .right_block .right_block_image {
  top: 60%;
  left: 43%;
  position: absolute;
  transition: all 500ms cubic-bezier(0.365, 0.66, 0.35, 1.29);
}
.how .how__right .right_block .right_description {
  left: -100%;
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  top: 0%;
  transition: all 500ms cubic-bezier(0.17, 0.805, 0.535, 0.865);
  justify-content: flex-start;
  align-items: center;
}
.how .how__right .right_block .right_description hr {
  background: #fca713;
  width: 10%;
  height: 1px;
  margin-top: 36%;
  margin-bottom: 5%;
}
.how .how__right .right_block .right_description p {
  font-size: 12px;
  width: 80%;
  padding-left: 10%;
  color: #b3b3b3;
  line-height: 25px;
}
.how .how__low {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.how .how__low .left_item {
  padding: 60px 0 60px;
  vertical-align: middle;
  flex: 1 0;
}
.how .how__low .left_item p {
  font-size: 16px;
  line-height: 25px;
  width: 80%;
  margin: 0 auto;
}
.how .how__low .low_center {
  color: #fff;
  background-color: #887660;
}
.how .how__low .low_center p {
  line-height: 32px;
  margin-top: 30px;
  font-size: 25px;
}

.registration {
  margin: 100px 0 20px;
  text-align: center;
}
.registration h2 {
  text-transform: uppercase;
  font-size: 36px;
}
.registration h3 {
  font-size: 26px;
  margin: 0 0 40px 0;
  font-style: italic;
  color: #ef7f1a;
}
.registration h3 span {
  font-weight: 800;
  color: #4a3015;
  margin: 0 20px 0 0;
}
.registration .registration__set .registration__item .registrarion__item_image img {
  border-radius: 5px;
  margin: 0 0 20px 0;
  max-width: 150px;
  width: 100%;
  max-height: 150px;
  height: 100%;
}
.registration .registration__set .registration__item .registration__item_title {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 20px;
}
.registration .registration__set .registration__item .registration__item_text {
  width: 90%;
  line-height: 16px;
  margin: 0 0 15px;
}
.registration .registration__set .registration__item .registration__item_price p {
  font-size: 15px;
  color: #887660;
  font-weight: 600;
  margin: 0 0 15px 0;
}
.registration .registration__set .registration__item .registration__item_btn {
  background-color: #887660;
  transition: all 0.4s ease;
  color: #fff;
  align-self: center;
  font-size: 12px;
  padding: 8px 15px;
  margin: 0 0 30px 0;
}
.registration .registration__set .registration__item .registration__item_btn:hover {
  background-color: #c7998c;
  cursor: pointer;
}

h3.registration_title {
  margin: 100px 0 40px;
}

.packets {
  display: flex;
  justify-content: space-between;
  margin: 0 0 50px;
}
.packets .packets__item {
  width: 32%;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.packets .packets__item .packet__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  margin: 20px 0;
}
.packets .packets__item hr {
  background-color: #887660;
  margin: 20px auto 20px;
}
.packets .packets__item .packet_list {
  text-align: left;
  margin: 0 0 40px;
}
.packets .packets__item .packet_list li {
  line-height: 20px;
  margin: 0 0 10px;
}
.packets .packets__item .packet_list li span {
  font-weight: bold;
}

.woocommerce div.product div.images .woocommerce-product-gallery__image {
  margin: 50px 20px 0 0;
}

@media (max-width: 1215px) {
  .how .container {
    padding: 0;
  }

  .how .how__right .right_block h3 {
    font-size: 30px;
  }
}
@media (max-width: 1170px) {
  .how .how__right .right_block .right_text {
    font-size: 15px;
    line-height: 18px;
  }

  .how .how__left .left_low .left_low_text {
    padding: 155px 0 153px;
  }

  .how .how__left .left_top h2 {
    padding: 8.7% 0 4% 6.48%;
  }
}
@media (max-width: 1030px) {
  .how .how__left .left_top {
    padding: 0 0 73px;
  }

  .how .how__right .right_block .right_text {
    font-size: 14px;
    line-height: 16px;
  }

  .how .how__left .left_low .left_low_text {
    padding: 120px 0 120px;
  }
}
@media (max-width: 972px) {
  .title_advantage {
    font-size: 25px;
  }

  .how .how__left .left_low .left_low_text h3 {
    font-size: 30px;
  }

  .how .how__right .right_block h3 {
    font-size: 25px;
    padding: 3% 0 2%;
  }

  .how .how__left .left_top {
    padding: 0 0 92px;
  }

  .how .how__left .left_low .left_low_text {
    padding: 110px 0 110px;
  }

  .how .how__right .right_block .right_description p {
    line-height: 18px;
  }
}
@media (max-width: 770px) {
  .advantage {
    padding: 200px 0 100px 0;
  }

  .how .how__left .left_top h2 {
    font-size: 30px;
  }

  .how .how__left .left_top {
    padding: 0 0 85px;
  }

  .how .how__left .left_low .left_low_text h3 {
    font-size: 25px;
  }

  .how .how__left .left_low .left_low_text p {
    line-height: 25px;
  }

  .how .how__left .left_low .left_low_text {
    padding: 100px 0 100px;
  }

  .how .how__right .right_block .right_description p {
    line-height: 14px;
  }
}
@media (max-width: 670px) {
  .title.title_advantage {
    font-size: 20px;
  }

  .advantage .advantage__text {
    font-size: 16px;
  }

  .advantage .advantage__iconblock .advantage__item .advantage__icon i {
    font-size: 16px;
  }

  .advantage .advantage__iconblock .advantage__item .advantage__icon {
    padding: 15px;
  }

  .advantage .advantage__iconblock {
    width: 100%;
  }

  .advantage .advantage__iconblock .advantage__item p {
    font-size: 15px;
  }

  .how .how__left .left_low .left_low_text h3 {
    font-size: 20px;
  }

  .how .how__left .left_low .left_low_text p {
    line-height: 20px;
    width: 100%;
  }

  .how .how__left .left_low .left_low_text {
    padding: 120px 0 122px;
  }

  .how .how__low .low_center img {
    width: 50px;
  }

  .registration .registration__set .registration__item .registration__item_text {
    font-size: 12px;
  }

  .registration h2 {
    font-size: 26px;
  }

  .registration {
    margin: 70px 0 20px;
  }

  .registration .registration__set .registration__item .registration__item_btn {
    font-size: 10px;
  }
}
@media (max-width: 430px) {
  .advantage {
    padding: 120px 0 20px 0;
    background-size: 60%;
  }

  .advantage .advantage__iconblock {
    flex-wrap: wrap;
  }

  .advantage .advantage__iconblock .advantage__item {
    width: 60%;
    margin: 0 0 20px;
  }

  .advantage .advantage__text {
    margin: 0 0 50px;
  }

  .advantage .advantage__iconblock .advantage__item .advantage__icon {
    padding: 8px;
  }
  .advantage .advantage__iconblock .advantage__item .advantage__icon i {
    font-size: 12px;
  }

  .how .how__left,
.how .how__right {
    flex: 1.5 0;
  }

  .how .how__left .left_top h2 {
    font-size: 19px;
    padding: 8.7% 0 10% 5%;
  }

  .how .how__left .left_top p {
    line-height: 25px;
    color: #4a3015;
  }

  .how .how__right .right_block .right_description {
    display: none;
  }
  .how .how__right .right_block:hover {
    top: 0%;
  }

  .left_top {
    padding: 0 0 81px;
  }

  .how .how__right div.right_block p.right_text,
.how .how__right .right_block:nth-child(2) .right_text {
    margin: 25% auto 50%;
    width: 90%;
  }

  .how .how__right .right_block .right_block_image {
    left: 38%;
    top: 50%;
  }

  .how .how__left .left_top {
    padding: 0 0 58px;
  }

  .how .how__left .left_low .left_low_text {
    width: 100%;
    padding: 100px 0 74px;
  }

  .how .how__left .left_low .left_low_text p {
    padding: 0 5px;
  }

  .how .how__left .left_low .left_low_text h3 {
    font-size: 18px;
  }

  .how .how__low .left_item p {
    font-size: 14px;
    line-height: 18px;
    width: 90%;
  }

  .how .how__low .left_item {
    padding: 40px 0 40px;
  }

  .registration h2 {
    font-size: 20px;
  }

  .registration {
    margin: 40px 0 20px;
  }
  .registration hr {
    margin: 20px auto 20px;
  }

  .packets {
    flex-wrap: wrap;
  }
  .packets .packets__item {
    width: 100%;
  }
  .packets .packets__item .packet__title {
    font-size: 18px;
    margin: 15px 0;
  }
  .packets .packets__item hr {
    display: none;
  }
  .packets .packets__item .packet_list {
    margin: 0 0 20px;
  }
  .packets .packets__item .packet_list li {
    margin: 0 0 2px;
  }

  .registration__set {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .registration__set .registration__item {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (max-width: 380px) {
  .advantage .advantage__iconblock .advantage__item {
    margin: 0 0 10px;
    width: 90%;
  }

  .how .how__left .left_top h2 {
    font-size: 16px;
    font-weight: 700;
  }

  .how .how__left .left_top p {
    font-size: 15px;
  }

  .how .how__left .left_top {
    padding: 0 0 49px;
  }

  .how .how__right .right_block .right_block_image {
    width: 40px;
    top: 55%;
  }

  .how .how__right .right_block .right_text {
    font-size: 13px;
  }

  .how .how__left .left_low .left_low_text p {
    font-size: 15px;
  }

  .how .how__left .left_low .left_low_text {
    padding: 100px 0 60px;
  }

  .how .how__low .low_center img {
    width: 40px;
  }

  .how .how__low .left_item p {
    font-size: 14px;
    line-height: 14px;
    width: 93%;
  }

  .registration .registration__set .registration__item .registration__item_btn {
    padding: 5px 10px;
    font-size: 9px;
  }

  .registration .registration__set .registration__item .registration__item_title {
    font-size: 18px;
  }
}
@media (max-width: 325px) {
  .how .how__left .left_top p {
    line-height: 15px;
  }

  .how .how__left .left_top h2 {
    padding: 16% 0 10% 5%;
  }

  .how .how__right .right_block .right_block_image {
    top: 60%;
  }

  .how .how__left .left_low .left_low_text h3 {
    font-size: 16px;
  }

  .how .how__left .left_low .left_low_text {
    padding: 60px 0 33px;
  }

  .how .how__low .left_item p {
    font-size: 12px;
    line-height: 12px;
  }

  .registration .registration__set .registration__item .registration__item_btn {
    padding: 3px 7px;
    font-size: 8px;
  }

  .registration .registration__set .registration__item .registration__item_title {
    margin: 15px 0 20px;
  }
}
.header__body {
  position: relative;
}

.search_blok {
  position: absolute;
  right: 0;
  top: 65px;
}
.search_blok .searchform form input {
  background-color: #e1ddda;
  color: #4a3015;
  padding: 5px;
}

@media (max-width: 972px) {
  .search_blok {
    right: 60px;
    top: 25px;
  }
}
@media (max-width: 430px) {
  .search_blok {
    right: 0;
    top: 50px;
  }

  .search_blok .searchform form input {
    padding: 5px;
  }
}
.woocommerce-pagination {
  margin: 0 0 40px 0;
}
.woocommerce-pagination a {
  color: #887660;
}

.product .qib-button,
.product .qib-container .quantity input.qty {
  border-color: #4a3015;
  color: #4a3015;
}

.product {
  padding: 150px 0 0 0;
}
.product a .attachment-woocommerce_thumbnail {
  border-radius: 5px;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
  color: #4a3015;
  font-size: 17px;
  font-weight: 600;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
  background-color: #e1ddda;
  color: #4a3015;
  transition: all 0.3s ease;
}

.woocommerce #respond input#submit,
.woocommerce a.button, .woocommerce button.button,
.woocommerce input.button {
  background-color: #887660;
  color: #fff;
  border-radius: 5px;
}

.price .woocommerce-Price-amount {
  font-size: 15px;
  color: #887660;
  font-weight: 600;
}

.container_shop {
  display: flex;
  padding: 150px 0 0 0;
}
.container_shop .content-area {
  width: 80%;
}
.container_shop .widget-area {
  width: 22%;
  position: sticky;
  top: 110px;
  height: fit-content;
  margin: 0 0 0 5%;
}
.container_shop .widget-area .widget .widget-title {
  margin: 0 auto 40px 0;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
.container_shop .widget-area .widget .product-categories .cat-item {
  margin: 0 0 10px 0;
  color: #4a3015;
  font-weight: 700;
}
.container_shop .widget-area .widget .product-categories .cat-item a {
  margin: 0 0 5px 0;
  color: #4a3015;
}
.container_shop .widget-area .widget .product-categories .cat-item a:hover {
  text-decoration: underline;
}
.container_shop .widget-area .widget .product-categories .cat-item .children {
  margin: 10px 0 0 0;
}
.container_shop .widget-area .widget .product-categories .cat-item .cat-item {
  margin: 0 0 5px 3%;
  font-weight: 400;
}

.cart-contents.w3view-cart {
  position: relative;
}
.cart-contents.w3view-cart span {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-weight: 600;
  font-size: 15px;
  color: #4a3015;
}
.cart-contents.w3view-cart i {
  font-weight: 600;
  font-size: 18px;
}

.product .qib-container:not(#qib_id) {
  display: inline-flex;
  margin: 0 10% 0 0;
}

.woocommerce .product span.onsale {
  background-color: darkred;
}

.woocommerce a.added_to_cart {
  display: none;
}

.product-type-simple {
  padding: 0;
}

.woocommerce-message,
.wc-tab h2 {
  display: none !important;
}

.woocommerce-product-gallery__image a img {
  border-radius: 5px;
}

.woocommerce div.product .product_title {
  margin: 10px 0 20px 0;
  font-size: 20px;
  font-weight: 600;
  color: #4a3015;
}

.entry-summary .price .woocommerce-Price-amount {
  display: block;
  margin: 0 0 40px 0;
  font-size: 20px;
}

.woocommerce-product-details__short-description p {
  font-style: italic;
  line-height: 20px;
  margin: 0 0 50px 0;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: #887660;
  color: #fff;
}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  background-color: #e1ddda;
  color: #4a3015;
  transition: all 0.3s ease;
}

.posted_in a {
  color: #887660;
}
.posted_in a:hover {
  text-decoration: underline;
  transition: all 0.3s ease;
}

.wc-tab p {
  line-height: 20px;
}

.related.products h2 {
  font-weight: 700;
  font-size: 16px;
  margin: 20px 0 20px 0;
  border-bottom: 1px solid #d3ced2;
  padding: 0 0 5px 0;
}
.related.products .woocommerce-loop-product__title {
  border: none;
}

.entry-content {
  padding: 150px 0 0 0;
}

.woocommerce-cart.woocommerce-page #secondary,
.woocommerce-checkout #secondary {
  display: none;
}
.woocommerce-cart.woocommerce-page .edit-link,
.woocommerce-checkout .edit-link {
  display: none;
}
.woocommerce-cart.woocommerce-page .product-name a,
.woocommerce-checkout .product-name a {
  color: #4a3015;
  cursor: pointer;
  font-weight: 600;
}
.woocommerce-cart.woocommerce-page .product-name a:hover,
.woocommerce-checkout .product-name a:hover {
  text-decoration: underline;
}
.woocommerce-cart.woocommerce-page .woocommerce-shipping-calculator a,
.woocommerce-checkout .woocommerce-shipping-calculator a {
  color: #887660;
  cursor: pointer;
  text-decoration: underline;
}
.woocommerce-cart.woocommerce-page .woocommerce .product-remove a.remove,
.woocommerce-checkout .woocommerce .product-remove a.remove {
  color: #c7998c !important;
}

.cart_totals.calculated_shipping h2 {
  display: none;
}

@media (max-width: 770px) {
  .entry-content {
    padding: 100px 0 0 0;
  }

  .woocommerce table.cart .woocommerce-cart-form__cart-item td.product-quantity .qib-container {
    justify-content: flex-end !important;
  }
}
@media (max-width: 972px) {
  .header .header__logo img {
    width: 60px;
  }

  .special .special__block {
    flex-wrap: wrap;
  }

  .special .special__block .special__item {
    margin: 0 20px 40px;
  }

  .special .special__block .special__item:nth-child(3) {
    margin: 0 auto 40px;
  }
}
@media (max-width: 830px) {
  .special .special__block .special__item {
    width: 60%;
    text-align: center;
    margin: 0 auto 40px;
  }

  .special .special__block .special__item:nth-child(2) {
    margin: 0 auto 40px;
  }

  .special .special__block .special__item img {
    margin: 0 auto 20px;
  }
}
@media (max-width: 770px) {
  .hero__box {
    padding: 250px 0 150px 0;
  }

  .hero__box .hero__block .hero__text {
    width: 100%;
    text-align: center;
  }

  .hero__box .hero__block .hero__social {
    display: none;
  }

  .hero__box .hero__block .hero__text h1 {
    font-size: 35px;
  }

  .about .about__block {
    flex-wrap: wrap;
  }

  .about .about__block .about__image {
    width: 45%;
    margin: 0 auto 40px;
  }

  .about .about__block .about__image img {
    max-width: 350px;
    max-height: 350px;
  }

  .about .about__block .about__content {
    width: 100%;
    margin: 0 20px;
  }

  .title {
    font-size: 25px;
  }

  .special .special__block .special__item .special__item_title {
    font-size: 20px;
  }

  .footer .footer__block .footer__contact p {
    font-size: 16px;
  }

  .footer .footer__block .footer__icon {
    width: 23%;
  }

  .footer .footer__block .footer__icon a i {
    margin: 0 20px 0 0;
  }
}
@media (max-width: 630px) {
  .hero__box {
    padding: 200px 0 100px 0;
  }

  .intro .intro__block .intro__item {
    padding: 0 0 20px 0;
  }

  .special .special__block .special__item img {
    max-width: 250px;
    max-height: 250px;
  }

  .intro,
.special {
    padding: 50px 0;
  }

  .title {
    font-size: 22px;
    margin: 0 0 40px;
  }

  .footer .footer__block .footer__icon {
    width: 30%;
  }

  .footer .footer__block .footer__icon a i {
    font-size: 22px;
  }

  .footer .footer__block .footer__adress i {
    display: none;
  }

  .about .about__block .about__image img {
    max-width: 250px;
    max-height: 250px;
  }
}
@media (max-width: 480px) {
  .hero__box {
    padding: 150px 0 50px 0;
  }

  .intro .intro__block .intro__item .intro__button {
    margin: 150px 0 0 0;
  }

  .button {
    padding: 10px 20px;
    font-size: 12px;
  }

  .hero__box .hero__block .hero__text h1 {
    font-size: 25px;
    line-height: 35px;
  }

  .title {
    font-size: 18px;
  }

  .special .special__block .special__item img {
    max-width: 180px;
    max-height: 150px;
  }

  .special .special__block .special__item .special__text {
    margin: 20px 0;
  }

  .special .special__block .special__item .special__item_title {
    font-size: 16px;
  }

  .special .special__block .special__item {
    width: 80%;
    margin: 0 auto 60px;
  }

  .special .special__block .special__item:nth-child(2) {
    margin: 0 auto 60px;
  }

  .special {
    padding: 50px 0 0;
  }

  .special .special__block .special__item .special__button {
    font-size: 10px;
    padding: 8px 12px;
  }

  .special .special__block .special__item .special__price p ins {
    font-size: 18px;
  }

  .special .special__block .special__item .special__price p del {
    font-size: 16px;
  }

  .about {
    padding: 50px 0;
  }

  .about .about__block .about__image {
    width: 60%;
  }

  .about .about__block .about__image img {
    max-width: 350px;
    max-height: 250px;
  }

  .about .about__block .about__content h2 {
    font-size: 16px;
    margin: 0 auto 30px;
  }

  .footer .footer__block .footer__adress .footer__text p {
    line-height: 25px;
    font-size: 12px;
  }

  .footer .footer__block .footer__contact p {
    font-size: 12px;
  }

  .footer .footer__block .footer__icon a i {
    margin: 0 0 0 20px;
    font-size: 18px;
  }

  .footer .footer__block .footer__icon {
    text-align: right;
  }
}
@media (max-width: 430px) {
  .footer .footer__block .footer__adress .footer__text {
    text-align: left;
  }
  .footer .footer__block .footer__adress .footer__text p {
    line-height: 18px;
  }

  .about .about__block .about__image {
    width: 70%;
  }

  .about .about__block .about__content h2 {
    font-size: 15px;
    margin: 0 auto 20px;
  }
}
@media (max-width: 380px) {
  .intro .intro__block .intro__item .intro__button {
    margin: 100px 0 0 0;
  }

  .title {
    margin: 0 0 20px;
    font-size: 16px;
  }

  .intro, .special {
    padding: 50px 0 0;
  }

  .about .about__block .about__image img {
    max-width: 250px;
    max-height: 220px;
  }

  .footer .footer__block .footer__icon {
    width: 32%;
  }

  .footer .footer__block .footer__icon a i {
    margin: 0 0 0 10px;
    font-size: 16px;
  }

  .footer {
    padding: 40px 0 20px;
  }

  .footer .footer__block .footer__adress .footer__text p:nth-child(1) {
    display: none;
  }

  .footer .footer__block .footer__contact p {
    line-height: 20px;
  }

  .header .menu__item a {
    font-size: 14px;
  }

  .special .special__block .special__item .special__price p ins {
    font-size: 16px;
  }

  .special .special__block .special__item .special__price p del {
    font-size: 14px;
  }

  .special .special__block .special__item .special__text {
    line-height: 18px;
    margin: 15px 0;
  }

  .special .special__block .special__item {
    width: 90%;
  }
}
@media (max-width: 325px) {
  .hero__box .hero__block .hero__text h1 {
    font-size: 20px;
    line-height: 25px;
    margin: 0 0 20px;
  }

  .intro .intro__block .intro__item {
    width: 47%;
    margin: 0 0 40px 0;
  }

  .button {
    padding: 5px 15px;
    font-size: 10px;
  }

  .title {
    font-size: 15px;
  }

  .special .special__block .special__item .special__item_title {
    font-size: 15px;
  }

  .about .about__block .about__image {
    width: 85%;
  }

  .about .about__block .about__content {
    margin: 0;
  }
}
@media (max-width: 972px) {
  .container_shop .widget-area {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    top: 60px;
    padding: 20px 0 5px;
    margin: 0 auto;
  }

  .container_shop .widget-area .widget .product-categories .cat-item {
    width: 24%;
    text-align: center;
  }

  .container_shop .widget-area {
    margin: 0;
  }

  .container_shop .content-area {
    width: 100%;
  }

  .container_shop .widget-area .widget .widget-title {
    display: none;
  }

  .product-categories {
    display: flex;
    justify-content: space-between;
  }

  .product-categories .cat-item .count {
    display: none;
  }

  .container_shop .widget-area .widget .product-categories .cat-item .cat-item {
    margin: 0 0 5px 0;
  }

  .container_shop .widget-area .widget .product-categories .cat-item .children {
    display: none;
  }
}
@media (max-width: 430px) {
  .container_shop .widget-area .widget .product-categories .cat-item {
    font-weight: 600;
    font-size: 12px;
  }

  div.qib-container .quantity input.qty:not(#qib_id) {
    height: 25px;
    width: 35px;
  }

  .qib-container button.qib-button:not(#qib_id) {
    height: 25px;
    width: 25px;
  }

  .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    font-weight: 600;
    font-size: 12px;
  }

  .woocommerce span.onsale {
    line-height: 2.5;
    font-weight: 600;
    min-height: 2.236em;
    min-width: 2.236em;
    font-size: 0.757em;
  }
}
@media (max-width: 330px) {
  .container_shop .widget-area .widget .product-categories .cat-item {
    font-weight: 600;
    font-size: 11px;
  }
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
  background-color: #e1ddda;
  padding: 5px;
  border-radius: 5px;
}

#order_review_heading {
  margin: 15px 0 15px 5px;
}

.woocommerce-checkout #payment div.form-row {
  margin: 0 0 20px 0;
}

.woocommerce-privacy-policy-text p {
  line-height: 20px;
}
.woocommerce-privacy-policy-text p .woocommerce-privacy-policy-link {
  color: #887660;
  font-weight: 600;
}

#billing_company_field {
  display: none;
}

@media (max-width: 770px) {
  .woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    margin: 20px 0 0 0;
  }
}
.woocommerce-notice {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  margin: 0 0 50px;
}

.woocommerce-order-overview {
  background-color: #cccccc;
  border-radius: 5px;
  padding: 25px 15px 15px 15px;
}

.woocommerce ul.order_details li strong {
  font-size: 16px;
  margin: 20px 0 20px;
}

.woocommerce ul.order_details li {
  font-size: 18px;
}

.woocommerce .woocommerce-order-details {
  margin: 30px 0;
}
.woocommerce .woocommerce-order-details .woocommerce-order-details__title {
  margin: 0 0 30px 0;
  font-weight: 600;
  font-size: 18px;
}

.woocommerce-column__title {
  font-weight: 600;
  font-size: 16px;
  margin: 0 0 20px;
}

.woocommerce .woocommerce-customer-details address {
  line-height: 18px;
}

/*# sourceMappingURL=style.css.map */
